body {
	font-family: Arial;
}
.container{
	margin: 0 auto; 
	max-width: 1170px;
}
.TOP .web{
	background-image: url('../img/paint.png');
	background-size: cover;
	background-repeat:no-repeat;
	background-position:35%;
	padding:10% 0;
	background-position:top;
}

img{
	width: 6%;
}
/*.TOP{

}
*/
.TOP .web .header{

	padding:  10%;
	text-align: center;
	color: #333;
}
.TOP .navbar .container img{
  width:6%;

}
.TOP .web .header h2{
	margin: 0px auto;
	font-size: 40px;
	padding: 10px 0;
	width: 600px;
	color: #FFF;
	text-transform:uppercase;
	margin-bottom:30px;
}

 .web .header a{
	padding-left:30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 14px;
	color: #333;
	border: 1px solid #d6fbff;
	font-weight:bold;
	text-transform: uppercase;
	margin:20px auto 0 auto;
	background-color: #fff;
}
/* .navbar{
	background-color: #fff;
	color: #FFF;
	padding-left: 0px;
	overflow: hidden;
	text-transform: uppercase;
	margin:0 auto;
}
 .navbar h2 {
 color:  #2a9058; 
}
 
.navbar ul{
	list-style: none;
	padding-left: 0;
	overflow: hidden;
	float: right;
}

 .navbar ul li { 
	padding: 0 10px; 
	float: left;
	margin:0;
	padding-bottom: 5px;
}
.TOP .navbar ul li a{ 
	color:#333;
	 text-decoration: none;
   width:100%;
}
.TOP .navbar ul li a:hover{
	color: #cd0000 ;
}
.TOP .navbar ul li.active a,
*/

.panel{
	text-align:center;
	color:#000;
	line-height:5em;
	float:left;
    
}

 .navbar{
  background-color: #fff;
  color: #FFF;
  padding-left: 0px;
  overflow: hidden;
  text-transform: uppercase;
  margin:0 auto;
  width:1140px 79px;
}
 
 .navbar h2 {
 color: #FFF; 
}
 .navbar h2 span{ 
  color: #2a9058; 
}
.navbar ul{
  list-style: none;
  overflow: hidden;
  float: right;
  width:794.15px 60px;
  padding-left: 50px;

}
.TOP{
  background-color:#8781bd;
/*  padding-top:20px;*/
}
.TOP .navbar .container img{
  padding-left: 23px;
  padding-bottom: 10px;
}
.TOP .navbar .container ul li {
  text-align: left;
}
 .navbar ul li { 
  padding: 0 11px; 
  float: left;
  margin:0;
  text-align: left;
  margin-right: 10px;
}
.TOP .navbar ul li a{ 
  color:#0e0e0e;
   text-decoration: none;
   padding-left: 5px;

}
.main{
  width:100%;
}
.TOP .navbar ul li.active a,
.TOP .navbar ul li a:hover{
  color:#ed1c24;
}

 .navbar1{
  background-color: #8781bd;
  color: #FFF;
  padding-left: 0px;
  overflow: hidden;
  text-transform: uppercase;
  margin:0 auto;
  width:1140px;
}
 
 .navbar1 h2 {
 color: #FFF; 
}
 .navbar1 h2 span{ 
  color: #2a9058; 
}
.navbar1 ul{
  list-style: none;
  overflow: hidden;
  float: right;
  width:794.15px 60px;
  padding-left: 50px;

}
.TOP1{
  background-color:#8781bd;
  padding-top:20px;
}
.TOP1 .navbar1 .container2 img{
  padding-left: 23px;
  padding-bottom: 10px;
}
.TOP1.navbar1 .container2 ul li {
  text-align: left;
}
 .navbar1 ul li { 
  padding: 0 11px; 
  float: left;
  margin:0;
  text-align: left;
  margin-right: 10px;
}
.TOP1 .navbar1 ul li a{ 
  color:#fff;
   text-decoration: none;
   padding-left: 5px;

}
.main{
  width:100%;
}
.TOP1 .navbar1 ul li.active a,
.TOP1 .navbar1 ul li a:hover{
  color:#3c7316;
}

.container{
  width:100%;
/*  padding:20px;*/
  border-color: #FFF;

}
.package{
  width:230px;
  background-color: #f9f9f2;
  opacity:0.9;
}
.one{
	background-color:#000;
	width:100%;
}

.recent-works{
  padding-top: 40px;
}
.row {
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 10%;
}
section {
  float: left;
  width: 100%; }

img {
  max-width: 100%; }

#lightninBox-screen {
  z-index: 99; 
}

#lightninBox {
  z-index: 99; 
}


header {
  background: #fc4733;
  position: fixed;
  width: 100%;
  z-index: 99; }
  header .main-menu {
    padding: 40px 0;
    transition: all 0.2s ease; }
    header .main-menu.sticky {
      padding: 20px 0; }
      header .main-menu.sticky .navbar-brand img {
        max-width: 80%;
        margin-top: 5px; }
    header .main-menu .navbar {
      padding: 0; }
    header .main-menu .navbar-brand {
      padding: 0;
      margin-top: -10px; }
      header .main-menu .navbar-brand img {
        transition: all 0.3s; }
    header .main-menu .navbar-light .navbar-nav .navbar-item {
      padding: 0 15px;
      position: relative; }
      header .main-menu .navbar-light .navbar-nav .navbar-item:after {
        content: '+';
        width: 5px;
        height: 18px;
        float: right;
        color: #fff;
        position: absolute;
        right: 0;
        top: -1px;
        font-weight: 500; }
      header .main-menu .navbar-light .navbar-nav .navbar-item:last-child {
        padding-right: 0; }
        header .main-menu .navbar-light .navbar-nav .navbar-item:last-child:after {
          display: none; }
      header .main-menu .navbar-light .navbar-nav .navbar-item.active .nav-link:before {
        opacity: 1;
        visibility: visible;
        bottom: -2px; }
    header .main-menu .navbar-light .navbar-nav .nav-link {
      padding: 0;
      font-weight: 300;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      position: relative; }
      header .main-menu .navbar-light .navbar-nav .nav-link:before {
        content: '';
        width: 100%;
        position: absolute;
        height: 2px;
        background: #fff;
        bottom: -6px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease; }
      header .main-menu .navbar-light .navbar-nav .nav-link:hover:before {
        opacity: 1;
        visibility: visible;
        bottom: -2px; }
    header .main-menu .form-inline {
      border: 1px solid #e7e7e7;
      padding-right: 10px; }
      header .main-menu .form-inline input {
        border: 0;
        font-size: 12px;
        height: 32px;
        outline: 0; }
        header .main-menu .form-inline input:focus {
          outline: 0;
          box-shadow: none; }
      header .main-menu .form-inline .fa {
        color: #e7e7e7;
        font-size: 12px; }
  .recent-works .portfolio-content .lightninBox img {
        width:60%;
        padding-top: 30px;

      }
/*  .container {
    padding-top: 40px;
  }
*/
  
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 20px; }

  .recent-works h2 {
    font-size: 40px;

  }

  footer ul li a {
    font-size: 16px; } }
@media only screen and (max-width: 800px) {
  header .main-menu {
    padding: 20px 0; }

  header .main-menu .navbar-brand img {
    max-width: 80%;
    margin-top: 5px; }
 }
@media only screen and (max-width: 640px) {
  .navbar-nav {
    margin-top: 20px; }

  header .main-menu .navbar-light .navbar-nav .navbar-item {
    margin-bottom: 15px;
    padding: 0; }

  header .main-menu .navbar-light .navbar-nav .navbar-item:after {
    display: none; }

  header .main-menu {
    padding: 20px 0; }

  header .main-menu .navbar-brand img {
    max-width: 80%;
    margin-top: 5px; }

  .recent-works {
    padding: 50px 0 20px;
    padding-top: 40px;

     }
 /* .recent-works img:hover {
    color:black;
    
     }
*/  .recent-works h2 {
    font-size: 30px; }

  .recent-works .btn-sec {
    margin-top: 40px; } }
.recent-works {
  border-bottom: 0; }

@media only screen and (max-width: 800px) {
 }
@media only screen and (max-width: 640px) {
 }

@media only screen and (max-width: 1024px) {
  .slider-content {
    -ms-flex: 0 0 450px;
    flex: 0 0 450px;
    max-width: 450px; }
 }
@media only screen and (max-width: 800px) {

  .slider-content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media only screen and (max-width: 640px) {
 }
footer {
  padding: 50px 0;
  float: left;
  width: 100%; }
  footer ul {
    text-align: center;
    margin-bottom: 10px; }
    footer ul li {
      display: inline-block; }
      footer ul li:after {
        content: '-';
        float: right;
        line-height: 31px;
        font-size: 22px; }
      footer ul li a {
        color: #555;
        font-size: 20px;
        margin: 0 10px; }
        footer ul li a:hover {
          color: #fc4733; }
      footer ul li:last-child:after {
        display: none; }
  footer h5 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #959595; }
    footer h5 a {
      color: #fc4733; }
      footer h5 a:hover {
        color: #fc4733; }

@media only screen and (max-width: 1024px) {
  footer ul li a {
    font-size: 16px; }

  footer ul li:after {
    line-height: 24px; } }
@media only screen and (max-width: 640px) {
  footer ul li {
    margin-bottom: 10px; }

  footer {
    padding: 30px 0; }

  footer h5 {
    font-size: 12px; } }

 